
<h3>Sua cédula auditada</h3>

<p>
<b><u>IMPORTANTE</u></b>: esta cédula, agora que ela foi auditada, <em>não será contada</em>.<br />
Para submeter uma cédula, você deve clicar no botão "Voltar à Votação" abaixo, recriptografá-la, e escolher "submeter" em vez de "auditar."
</p>

<p>
<b>Por que?</b> O Helios evita que você audite e submeta a mesma cédula para provê-lo com alguma proteção contra coerção.
</p>

<p>
<b>E agora?</b> <a onclick="$('#audit_trail').select(); return false;" href="#">Selecione sua informação de auditoria de cédula</a>, copie-a para sua área de transferência, então use o <a target="_blank" href="single-ballot-verify.html?election_url={$T.election_url}">verificador de cédula</a> para verificá-la.<br />
Uma vez que você esteja satisfeito(a), clique no botão "voltar à votação" para recriptografar e submeter sua cédula.
</p>

<form action="#">
<textarea name="audit_trail" id="audit_trail" cols="80" rows="10" wrap="soft">
{$T.audit_trail}
</textarea>
<br /><br />
Antes de voltar à votação,<br />
você pode postar esta cédula auditada para o centro de rastreamento Helios para que outros possam checar a verificação desta cédula.
<br /><br />
<b>Mesmo se você postar sua cédula auditada, você deve voltar à votação e escolher "submeter" se você quer que seu voto conte.</b>
<br /><br />
<button onclick="BOOTH.reset_ciphertexts();BOOTH.seal_ballot(); return false;" class="pretty">voltar à votação</button>
&nbsp; &nbsp;&nbsp;
<button onclick="$(this).attr('disabled', 'disabled');BOOTH.post_audited_ballot(); return false;" id="post_audited_ballot_button" class="pretty" style="font-size:0.8em;">postar cédula auditada para centro de rastreamento</button>

</form>




