{% extends 'server_ui/templates/base.html' %}
{% block title %}Confirmar Voto{% endblock %}

{% block content %}
<script language="javascript">
$(document).ready(function() {
  $('#waiting_div').hide();
});

function show_waiting() {
  $('#cast_div').hide();
  $('#waiting_div').show();
}
</script>
<h1>Confirme seu Voto</h1>

{% if error %}
<p style="color: red;">{{error}}</p>
{% endif %}

<h3>Sua Cédula</h3>

<p style="font-size:1.6em;">
    <tt>{{vote_fingerprint}}</tt>
</p>

<div id="cast_div">
<h3>Submeta Sua Cédula com suas Credenciais</h3>

<form method="post" onsubmit="show_waiting();" action="">
    <input type="hidden" name="csrf_token" value="{{csrf_token}}" />

<table>
{{form.as_table}}
</table><br />

    <input type="submit" value="submeter esta cédula" /><br /><br />
</form>

<p>
    Esqueceu sua senha? <a href="{% url "auth@password@forgotten" %}?return_url={% url "election@cast-confirm" %}">Receba-a por email</a>.<br />(não se preocupe, nós não vamos esquecer seu voto).
</p>
</div>

<div id="waiting_div" align="center">
  Verificando e Submetendo sua cédula<br />
  <img src="/static/helios/loading.gif" />
</div>

{% endblock %}
