{% extends TEMPLATE_BASE %}

{% block title %}Cédulas Auditadas para {{election.name}}{% endblock %}

{% block content %}
  <h2 class="title">{{election.name}} &mdash; Cédulas Auditadas <span style="font-size:0.7em;">[<a href="{% url "election@view" election_uuid=election.uuid %}">voltar à eleição</a>]</span></h2>

<p>
Quando você prepara uma cédula com o Helios, você imediatamente recebe um rastreador de cédula. Antes de você escolher submeter essa cédula, você tem a opção de pedir ao Helios para "corromper" essa cédula criptografada e verificar que o Helios criptografou sua cédula corretamente. Uma vez que isso seja feito, você pode postar essa cédula aberta aqui, na lista de cédulas auditadas, para todo mundo verificar (sua identidade não é incluída). Uma vez que você tenha feito isto, você tem que recriptografar suas escolhas e obter um rastreador de cédula diferente. Isto ajuda a reduzir o risco de que alguém possa coagi-lo a votar de forma diferente da sua escolha verdadeira.
</p>

<p>
Estas cédulas <em>não são submetidas</em>, e elas não serão contadas. Elas apenas estão aqui para fins de auditoria, para checar que o Helios está criptografando apropriadamente as escolhas dos votantes.
</p>

<p>
  Para verificar uma cédula auditada, copie todo o seu conteúdo e cole-o no <a target="_new" href="/booth/single-ballot-verify.html?election_url={% url "election@home" election.uuid %}">verificador de cédula única</a>.
</p>

{% if audited_ballots %}
<p>
Cédulas Auditadas {{offset_plus_one}} - {{offset_plus_limit}} &nbsp;&nbsp;
</p>

{% if next_after %}
<a href="?after={{next_after}}&offset={{offset_plus_limit}}">próximas {{limit}}</a> &nbsp;&nbsp;
{% endif %}

{% if offset == 0 %}
{% else %}
<a href="?">voltar ao início</a> &nbsp;&nbsp;
{% endif %}
{% if more_p %}
<a href="?after={{next_after}}&offset={{next_offset}}">próximas {{limit}}</a>
{% endif %}
<table class="pretty">
{% for b in audited_ballots %}
<tr><td><tt style="font-size: 1.4em;">{{b.vote_hash}}</tt> [<a target="_blank" href="?vote_hash={{b.vote_hash|urlencode}}">ver</a>]</td></tr>
{% endfor %}
</table>
{% else %}
<em>sem cédulas auditadas ainda</em>
{% endif %}

{% endblock %}
