{% extends "helios/templates/cryptobase.html" %}

{% block title %}Curadores para {{election.name}}{% endblock %}

{% block content %}
  <h3 class="title">{{election.name}} &mdash; Curadores <span style="font-size:0.7em;">[<a href="{% url "election@view" election.uuid %}">voltar à eleição</a>]</span></h3>

<p>
    Curadores são responsáveis por descriptografar o resultado da eleição.<br />
    Cada curador gera um par de chaves e submete a parte pública para o Helios.<br />
    Quando é hora de descriptografar, cada curador precisa prover sua chave secreta.
</p>

{% if not election.frozen_at %}

<p>
  O Helios é automaticamente seu primeiro curador e irá processar a geração do seu par de chaves e descriptografia automaticamente.<br />
  Você pode adicionar curadores adicionais se você quiser, e você pode até remover o curador do Helios.<br />
  No entanto, nós recomendamos que você apenas faça isto se você tem uma compreensão sólida do papel do curador.
</p>

{% if admin_p %}
<p>
    [ <a onclick="return(confirm('Adding your own trustee requires a good bit more work to tally the election.\nYou will need to have trustees generate keypairs and safeguard their secret key.\n\nIf you are not sure what that means, we strongly recommend\nclicking Cancel and letting Helios tally the election for you.'));" href="{% url "election@trustees@new" election.uuid %}">add a trustee</a> ]
</p>
{% if not election.has_helios_trustee %}
<p>
    <a href="{% url "election@trustees@add-helios" election.uuid %}">add Helios as a trustee</a>
</p>
{% endif %}
{% endif %}

{% endif %}

{% if not trustees|length %}

{% else %}
{% for t in trustees %}
<h5> Curador #{{forloop.counter}}: {{t.name}} 
{% if admin_p %}
{% if t.secret_key %}
{% if not election.frozen_at %}[<a onclick="return confirm('Are you sure you want to remove Helios as a trustee?');" href="{% url "election@trustees@delete" election.uuid %}?uuid={{t.uuid}}">x</a>]{% endif %}
{% else %}
({{t.email}})
{% if not election.frozen_at %}[<a onclick="return confirm('Are you sure you want to remove this Trustee?');" href="{% url "election@trustees@delete" election.uuid %}?uuid={{t.uuid}}">x</a>]{% endif %}
[<a onclick="return confirm('Are you sure you want to send this trustee his/her admin URL?');" href="{% url "election@trustee@send-url" election.uuid t.uuid %}">send login</a>]
{% endif %}
{% endif %}
</h5>

<p>
{% if t.public_key_hash %}
  Assinatura da Chave Pública: <tt style="font-size:1.5em;">{{t.public_key_hash}}</tt>
{% else %}
Sem chave pública carregada ainda.
{% endif %}
</p>

{% if election.encrypted_tally %}
{% if t.decryption_factors %}
<b>contagem registrada para este curador.</b>
{% else %}
<em>aguardando pela contagem deste curador</em>
{% endif %}
{% endif %}
</li>
{% endfor %}
</ul>

{% endif %}

{% endblock %}
